<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="assets/images/logo.png" type="image/x-icon" />
    <title>Challenge Chapter 5</title>
  </head>
  <body class="bg-[#9C835F]">
    <nav class="flex flex-row gap-2 py-5">
      <a href="/" class="text-white no-underline">
        <p class="font-openSans font-normal text-[72px] text-[#724C21]">
          &#60;
        </p></a
      >
      <img
        src="assets/images/logo.png"
        alt=""
        width="72"
        height="72"
        class="image-brand"
      />
      <p
        class="text-center font-bold text-2xl lg:text-[3rem] font-openSans text-[#F9B23D] inline-flex items-center tracking-wider"
      >
        ROCK PAPER SCISSORS
      </p>
    </nav>

    <section
      class="container mx-auto my-auto flex flex-col lg:flex-row justify-evenly items-center gap-3"
    >
      <div class="flex flex-col justify-center items-center">
        <h1 class="tracking-wider text-[3rem]">Player</h1>
        <div class="inline-flex flex-row lg:flex-col">
          <button class="p-choice group" data-value="rock">
            <img
              src="assets/images/batu.png"
              alt="batu"
              class="w-40 h-40 group-hover:bg-[#C4C4C4]/50 group-hover:rounded-full px-8 py-8"
            />
          </button>
          <button class="p-choice group" data-value="paper">
            <img
              src="assets/images/kertas.png"
              alt="paper"
              class="w-40 h-40 group-hover:bg-[#C4C4C4]/50 group-hover:rounded-full px-8 py-8"
            />
          </button>
          <button class="p-choice group" data-value="scissors">
            <img
              src="assets/images/gunting.png"
              alt="scissors"
              class="w-40 h-40 group-hover:bg-[#C4C4C4]/50 group-hover:rounded-full px-8 py-8"
            />
          </button>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center">
        <div id="match-section">
          <h1 class="text-red-800 lg:text-[15em]">VS</h1>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center">
        <h1 class="tracking-wider text-[3rem]">Computer</h1>
        <div class="inline-flex flex-row lg:flex-col">
          <button class="com-choice group" data-value="rock">
            <img
              src="assets/images/batu.png"
              alt="batu"
              class="w-40 h-40 group-hover:bg-[#C4C4C4]/50 group-hover:rounded-full px-8 py-8"
            />
          </button>
          <button class="com-choice group" data-value="paper">
            <img
              src="assets/images/kertas.png"
              alt="paper"
              class="w-40 h-40 group-hover:bg-[#C4C4C4]/50 group-hover:rounded-full px-8 py-8"
            />
          </button>
          <button class="com-choice group" data-value="scissors">
            <img
              src="assets/images/gunting.png"
              alt="scissors"
              class="w-40 h-40 group-hover:bg-[#C4C4C4]/50 group-hover:rounded-full px-8 py-8"
            />
          </button>
        </div>
      </div>
    </section>

    <div
      id="modal-overlay"
      aria-modal="true"
      role="dialog"
      aria-labelledby="match"
      class="hidden inset-0 bg-slate-600 bg-opacity-60 h-screen w-full flex justify-center items-center md:items-center pt-10 md:pt-0 z-[50] fixed"
    >
      <div
        id="resultModal"
        class="opacity-0 transform scale-150 justify-center items-center flex flex-col gap-5"
      >
        <div
          class="w-32 h-44 bg-[#4C9654] rotate-45 rounded-2xl inline-flex justify-center items-center"
        >
          <h1
            class="-rotate-90 text-white text-[2rem] leading-none"
            id="the-winner"
          ></h1>
        </div>
        <button class="w-32 h-32" id="refresh">
          <img
            class="refresh"
            src="assets/images/refresh.png"
            alt="refresh"
            class="inline-block"
          />
        </button>
      </div>
    </div>
    <script src="../assets/js/chapter4.js" type="text/javascript"></script>
  </body>
</html>
