<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../assets/images/icon.ico" type="image/x-icon" />
    <title>Challenge Chapter 5</title>
  </head>
  <body data-target="#navbarScroll">
    <header>
      <nav
        class="bg-black/50 px-2 sm:px-4 py-2.5 fixed w-full z-20 top-0 left-0 border-b border-transparent"
      >
        <div
          class="container justify-between md:justify-start items-center flex mx-auto"
        >
          <a href="#" class="flex items-center">
            <span
              class="self-center pl-1 md:pl-0 text-xl font-semibold whitespace-nowrap text-white tracking-wider"
              >LOGO</span
            >
          </a>

          <div class="flex md:order-2 md:w-full">
            <button
              id="btnGettingStarted"
              class="px-5 py-2.5 float inline-flex items-end ml-auto rounded-[50px] bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800 uppercase font-bold font-openSans"
            >
              Getting Started
            </button>

            <button
              class="block md:hidden py-3 px-1 mx-2 rounded focus:outline-none group"
            >
              <div class="w-5 h-1 bg-white mb-1"></div>
              <div class="w-5 h-1 bg-white mb-1"></div>
              <div class="w-5 h-1 bg-white mb-1"></div>
              <div
                class="absolute top-0 -right-full h-screen w-7/12 bg-black/80 opacity-0 group-focus:right-0 group-focus:opacity-100 transform transition-all duration-300"
              >
                <div class="flex flex-col items-center">
                  <ul class="text-base cursor-pointer pt-11 text-white w-full">
                    <li class="hover:bg-gray-400 py-4 px-6 w-full">Home</li>
                    <li class="hover:bg-gray-400 py-4 px-6 w-full">About</li>
                    <li class="hover:bg-gray-400 py-4 px-6 w-full">Services</li>
                    <li class="hover:bg-gray-400 py-4 px-6 w-full">Contact</li>
                  </ul>
                </div>
              </div>
            </button>
          </div>

          <div
            class="hidden w-full md:flex md:w-auto md:order-1 cursor-pointer"
          >
            <ul
              class="flex flex-col p-5 pl-16 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium uppercase tracking-wider"
            >
              <li>
                <a
                  href="#"
                  class="block py-2 pr-4 pl-3 text-white rounded md:bg-transparent md:p-0 font-bold"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li>
                <a href="#" class="menu-navbar">About</a>
              </li>
              <li>
                <a href="#" class="menu-navbar">Services</a>
              </li>
              <li>
                <a href="#" class="menu-navbar">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div
        class="h-screen text-white flex justify-center text-center flex-col relative"
      >
        <h1
          class="uppercase text-[80px] font-babasNeue font-bold leading-none tracking-wide"
        >
          play traditional game
        </h1>
        <h3 class="mt-10 font-openSans font-normal text-2xl">
          Experience new traditional game play
        </h3>
        <div class="mt-10">
          <a
            href="/game"
            class="px-2 py-4 inline-block rounded-[50px] bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800 uppercase font-openSans md:w-[20%] w-[50%]"
            >play now</a
          >
        </div>
        <div class="bottom-10 absolute w-screen">
          <a href="#games" class="inline-block animate-bounce">
            <p>THE STORY</p>
            <img src="../assets/images/scroll-down.svg" class="inline-block" />
          </a>
        </div>
      </div>
    </header>
    <section
      id="games"
      class="h-screen bg-games-section bg-cover flex flex-col text-white box-content lg:p-10 lg:flex-row lg:flex-wrap lg:gap-10"
    >
      <div
        class="lg:flex-2 lg:flex lg:flex-col lg:box-content lg:pt-[10em] p-5 pt-48"
      >
        <h3 class="font-openSans">What's so special ?</h3>
        <h1 class="font-normal leading-none">The Games</h1>
      </div>

      <div class="lg:flex-1">
        <div
          id="indicators-carousel"
          class="relative h-56 lg:h-screen"
          data-carousel="static"
        >
          <!-- Carousel wrapper -->
          <div class="relative rounded-lg">
            <!-- Item 1 -->
            <div
              class="duration-700 ease-in-out absolute p-2 lg:p-0 transition-all z-20 lg:top-[10em]"
              data-carousel-item="active"
            >
              <img
                src="../assets/images/rockpaperstrategy-1600.jpg"
                class="rounded-2xl block"
                alt="..."
              />
            </div>
          </div>
          <!-- Slider indicators -->
          <div
            class="absolute z-30 flex bottom-10 md:-bottom-[8rem] lg:bottom-20 left-1/2 space-x-3 -translate-x-1/2"
          >
            <button
              type="button"
              class="w-3 h-3 rounded-full bg-white"
              aria-current="true"
              aria-label="Slide 1"
              data-carousel-slide-to="0"
            ></button>
            <button
              type="button"
              class="w-3 h-3 rounded-full bg-white/20 hover:bg-white"
              aria-current="false"
              aria-label="Slide 2"
              data-carousel-slide-to="1"
            ></button>
            <button
              type="button"
              class="w-3 h-3 rounded-full bg-white/20 hover:bg-white"
              aria-current="false"
              aria-label="Slide 3"
              data-carousel-slide-to="2"
            ></button>
          </div>
          <!-- Slider controls -->
          <button
            type="button"
            class="absolute top-0 md:top-20 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev=""
          >
            <span
              class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/20 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-white sm:w-6 sm:h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 19l-7-7 7-7"
                ></path>
              </svg>
              <span class="sr-only">Previous</span>
            </span>
          </button>
          <button
            type="button"
            class="absolute top-0 md:top-20 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next=""
          >
            <span
              class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/20 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-white sm:w-6 sm:h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                ></path>
              </svg>
              <span class="sr-only">Next</span>
            </span>
          </button>
        </div>
      </div>
    </section>
    <section
      class="h-screen bg-features-section bg-cover bg-center justify-center flex flex-col text-white"
      id="features"
    >
      <div class="lg:pt-30 px-2 lg:px-0 flex justify-center lg:ml-56">
        <div class="glass-view w-96 px-10 py-2">
          <h3 class="font-normal font-openSans">What's so special ?</h3>
          <h1 class="font-normal leading-none uppercase">Features</h1>
          <div class="pt-6 list-none relative">
            <ul class="box-content list-outside">
              <li class="px-5">
                <h3 class="feature-point">traditional games</h3>
                <p class="my-2">
                  If you miss your childhood, we <br />provide many traditional
                  games here
                </p>
              </li>
              <li class="px-5">
                <h3 class="feature-point">game suit</h3>
              </li>
              <li class="px-5">
                <h3 class="feature-point">tbd</h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section
      class="bg-sysreq-section h-screen bg-center flex flex-col text-white"
    >
      <div class="pt-20 px-2 lg:px-28 lg:pt-36">
        <h3 class="font-normal font-openSan flex">
          Can My Computer Run this game ?
        </h3>
        <h1 class="font-normal leading-none uppercase">System Requirements</h1>
        <div class="glass-view flex lg:w-[50%] px-2 py-2 mt-4">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <h3 class="feature-point">OS:</h3>
                  <p>
                    Windows 7 64-bit only <br />
                    (No OSX support at this time)
                  </p>
                </td>
                <td>
                  <h3 class="feature-point">Processor:</h3>
                  <p>
                    Intel Core 2 Duo @2.4GHz <br />
                    or AMD Athlon X2 @ 2.8GHz
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="feature-point">Memory:</h3>
                  <p>4 GB RAM</p>
                </td>
                <td>
                  <h3 class="feature-point">Storage:</h3>
                  <p>8 GB available space</p>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="pt-3">
                  <h3 class="feature-point">Graphics:</h3>
                  <p>
                    NVIDIA GeForce GTX 660 2GB or<br />AMD Radeon HD 7850 2GB
                    DirectX11 (Shader Model S)
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section
      class="h-screen bg-topscore-section bg-cover lg:justify-center flex flex-col lg:flex-row text-white overflow-hidden"
    >
      <div
        class="flex-3 box-content flex justify-center flex-col pt-20 lg:w-[50%] lg:px-5"
      >
        <div class="px-3">
          <h3 class="font-normal font-openSan">
            This top score from various games provided on this platform
          </h3>
          <h1 class="font-normal leading-none uppercase">TOP SCORES</h1>
          <button
            class="py-2 px-4 inline-block rounded-[50px] bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800 uppercase font-bold font-openSans lg:w-[50%] w-[80%]"
          >
            see more
          </button>
        </div>
      </div>
      <div
        class="flex-1 flex flex-col lg:flex-col mt-2 px-2 lg:mt-0 lg:px-0 lg:pt-24"
      >
        <div class="flex flex-col glass-view px-2 py-2 lg:w-[70%] mb-3">
          <div class="flex">
            <img
              class="w-20 h-20 rounded-full shadow-lg"
              src="/assets/images/evan-lahti.jpg"
              alt="evan"
            />
            <div class="flex flex-col flex-1 justify-center box-content px-3">
              <p
                class="bg-gradient-to-r from-[#ffb548] to-[#edde5d] bg-clip-text text-transparent tracking-wider"
              >
                Evan Lahti
              </p>
              <span class="text-slate-500">PC Gamer</span>
            </div>
            <img
              src="/assets/images/twitter.svg"
              alt="twitter"
              class="w-12 h-12"
            />
          </div>
          <div class="py-4">
            <h5 class="card-title">
              "One of my gaming highlights of the year."
            </h5>
            <p class="text-muted">June 18, 2021</p>
          </div>
        </div>
        <div
          class="flex flex-col glass-view px-2 py-2 lg:w-[70%] mb-3 lg:-ml-48"
        >
          <div class="flex">
            <img
              class="w-20 h-20 rounded-full shadow-lg"
              src="/assets/images/jada-griffin.jpg"
              alt="evan"
            />
            <div class="flex flex-col flex-1 justify-center box-content px-3">
              <p
                class="bg-gradient-to-r from-[#ffb548] to-[#edde5d] bg-clip-text text-transparent tracking-wider"
              >
                Jada Griffin
              </p>
              <span class="text-slate-500">Nerdreactor</span>
            </div>
            <img
              src="/assets/images/twitter.svg"
              alt="twitter"
              class="w-12 h-12"
            />
          </div>
          <div class="py-4">
            <h5 class="card-title">
              "The next big thing in the world of streaming and survival games."
            </h5>
            <p class="text-muted">July 10, 2021</p>
          </div>
        </div>
        <div class="flex flex-col glass-view px-2 py-2 lg:w-[70%]">
          <div class="flex">
            <img
              class="w-20 h-20 rounded-full shadow-lg"
              src="/assets/images/aaron-williams.jpg"
              alt="evan"
            />
            <div class="flex flex-col flex-1 justify-center box-content px-3">
              <p
                class="bg-gradient-to-r from-[#ffb548] to-[#edde5d] bg-clip-text text-transparent tracking-wider"
              >
                Aaron Williams
              </p>
              <span class="text-slate-500">Uproxx</span>
            </div>
            <img
              src="/assets/images/twitter.svg"
              alt="twitter"
              class="w-12 h-12"
            />
          </div>
          <div class="py-4">
            <h5 class="card-title">
              "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."
            </h5>
            <p class="text-slate-600/80">December 24, 2018</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="bg-black bg-cover flex flex-col text-white justify-center lg:justify-start relative"
    >
      <div class="flex flex-col lg:flex-row">
        <div
          class="lg:w-full lg:grid lg:grid-cols-1 lg:place-content-center lg:justify-items-center"
        >
          <img src="assets/images/skull.png" alt="skull" />
        </div>
        <div
          class="absolute lg:relative top-20 lg:top-0 px-5 flex flex-col lg:py-24 drop-shadow-lg"
        >
          <div class="glass-view px-4 py-4 lg:w-10/12">
            <h3>Want to stay in touch?</h3>
            <h1 class="leading-none">Newsletter Subscribe</h1>
            <p>
              In case to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of you. We
              will send you emails containing information about game. We don't
              spam.
            </p>
            <div class="mt-3 flex flex-col gap-2 lg:flex-row">
              <input
                type="text"
                class="bg-slate-600 border-none outline-none h-12 inline-block lg:w-[50%] rounded-lg px-2 placeholder-[#ffb548]"
                placeholder="youremail@binar.co.id"
              />
              <button
                class="py-2 px-4 inline-block rounded-xl bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800 uppercase font-bold font-openSans"
              >
                subscribe now
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-row justify-between px-6 py-6">
        <div class="grid content-center grid-cols-1 w-1/2">
          <ul class="flex flex-col lg:flex-row">
            <li class="lg:pr-5">
              <a href="#">Main</a>
            </li>
            <li class="lg:pr-5">
              <a href="#">About</a>
            </li>
            <li class="lg:pr-5">
              <a href="#">Game Features</a>
            </li>
            <li class="lg:pr-5">
              <a href="#">System Requirements</a>
            </li>
            <li class="lg:pr-5">
              <a href="#">Quotes</a>
            </li>
          </ul>
        </div>
        <div class="w-1/2 grid content-center grid-cols-1">
          <ul class="flex flex-row justify-evenly lg:justify-end">
            <li class="lg:px-7">
              <a
                href="https://facebook.com/"
                target="_blank"
                class="nav-link text-white"
              >
                <span class="icon facebook">
                  <svg
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z"
                      fill="white"
                    ></path>
                  </svg>
                </span>
              </a>
            </li>
            <li class="lg:px-7">
              <a
                href="https://twitter.com/"
                target="_blank"
                class="nav-link text-white"
              >
                <span class="icon twitter">
                  <svg
                    width="22"
                    height="17"
                    viewBox="0 0 22 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M21.2138 2.42967C20.4408 2.75167 19.6098 2.96667 18.7388 3.06467C19.6288 2.56467 20.3118 1.77267 20.6338 0.830668C19.7998 1.29267 18.8778 1.62867 17.8958 1.81067C17.1108 1.02467 15.9898 0.534668 14.7508 0.534668C12.3708 0.534668 10.4398 2.34367 10.4398 4.57367C10.4398 4.89067 10.4778 5.19967 10.5518 5.49467C6.96981 5.32567 3.79381 3.71767 1.66781 1.27467C1.29681 1.87167 1.08481 2.56467 1.08481 3.30567C1.08481 4.70567 1.84581 5.94367 3.00181 6.66767C2.29581 6.64567 1.63181 6.46467 1.04981 6.16167C1.04981 6.17967 1.04981 6.19467 1.04981 6.21367C1.04981 8.17067 2.53481 9.80267 4.50681 10.1737C4.14581 10.2657 3.76381 10.3137 3.37181 10.3137C3.09381 10.3137 2.82381 10.2897 2.56081 10.2437C3.10881 11.8467 4.70081 13.0157 6.58681 13.0487C5.11181 14.1317 3.25381 14.7767 1.23381 14.7767C0.885811 14.7767 0.542811 14.7577 0.205811 14.7207C2.11281 15.8657 4.37881 16.5357 6.81281 16.5357C14.7408 16.5357 19.0758 10.3797 19.0758 5.04267C19.0758 4.86667 19.0708 4.69367 19.0628 4.51967C19.9048 3.94967 20.6358 3.23867 21.2138 2.42967Z"
                      fill="white"
                    ></path>
                  </svg>
                </span>
              </a>
            </li>
            <li class="lg:px-7">
              <a
                href="https://youtube.com/"
                target="_blank"
                class="nav-link text-white"
              >
                <span class="icon youtube">
                  <svg
                    width="26"
                    height="19"
                    viewBox="0 0 26 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z"
                      fill="#FF1313"
                    ></path>
                  </svg>
                </span>
              </a>
            </li>
            <li class="lg:px-7">
              <a
                href="https://twitch.tv/"
                target="_blank"
                class="nav-link text-white"
              >
                <span class="icon twitch">
                  <svg
                    width="20"
                    height="19"
                    viewBox="0 0 20 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z"
                      fill="white"
                    ></path>
                    <path
                      d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z"
                    ></path>
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <footer class="px-6 flex flex-col lg:flex-row justify-between">
        <p class="text-muted">© 2018 Your Games, inc. All Rights Reserved</p>

        <div class="uppercase py-1">
          <ul class="flex flex-row justify-around">
            <li class="border-r-2 text-center px-3">
              <a href="#" class="font-bold">privacy policy</a>
            </li>
            <li class="border-r-2 text-center px-3">
              <a href="#" class="font-bold">terms of service</a>
            </li>
            <li class="text-center px-3">
              <a href="#" class="font-bold">code of conduct</a>
            </li>
          </ul>
        </div>
      </footer>
    </section>
    <div
      id="modal-overlay"
      aria-modal="true"
      role="dialog"
      aria-labelledby="login"
      class="hidden inset-0 bg-black bg-opacity-30 h-screen w-full flex justify-center items-center md:items-center pt-10 md:pt-0 z-[50] fixed"
    >
      <div
        id="loginModal"
        class="opacity-0 relative w-[380px] h-[380px] glass-view rounded transition-opacity duration-300 transition-transform transform -translate-y-full scale-150 flex items-center flex-col"
      >
        <div
          class="w-[80%] bg-[#ffb548] m-[2em] flex justify-between relative rounded-[50px] shadow-[rgba(0,0,0,0.9)_0px_3px_12px]"
        >
          <button
            type="button"
            id="btn-login-switch"
            class="p-[1em] w-1/2 outline-black border-none bg-transparent rounded-[50px] text-white font-semibold uppercase cursor-pointer"
          >
            Sign In
          </button>
          <button
            type="button"
            id="btn-regis-switch"
            class="p-[1em] w-1/2 outline-black border-none bg-transparent rounded-[50px] text-white font-semibold uppercase cursor-pointer"
          >
            Sign Up
          </button>
          <button
            type="button"
            id="btn-switch"
            class="absolute w-[50%] h-[90%] m-[2px] border-none outline-none rounded-[50px] left-button bg-white font-semibold text-black shadow-[rgba(0,0,0,0.1)_0px_4px_12px] uppercase"
          >
            Sign In
          </button>
        </div>
        <div>
          <form id="signin-form" action="/user/login" method="post">
            <div class="form-input">
              <input
                type="text"
                name="username"
                id="username"
                required
                placeholder="Username"
                class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
                autocomplete="off"
              />
            </div>

            <div class="form-input">
              <input
                type="password"
                name="password"
                required
                id="password"
                placeholder="Password"
                class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
              />
            </div>

            <div class="flex flex-row gap-2">
              <button
                type="submit"
                class="px-4 py-2 w-40 mt-4 mb-4 inline-block text-center justify-center rounded-[50px] bg-[rgba(245,245,245)] border-none outline-none shadow-2xl cursor-pointer hover:bg-gradient-to-r from-[#ffb548] to-[#edde5d] hover:text-slate-800 transition-all ease-in-out duration-[.3s]"
              >
                Sign in
              </button>
              <button
                type="button"
                class="btn-close-login px-4 py-2 w-40 mt-4 mb-4 inline-block text-center justify-center rounded-[50px] bg-[rgba(245,245,245)] outline-none shadow-2xl cursor-pointer hover:border-red-600 hover:border-2 hover:text-slate-800 transition-all ease-in-out duration-[.3s]"
              >
                Cancel
              </button>
            </div>
          </form>
          <form
            id="signup-form"
            class="hidden"
            action="/user/register"
            method="post"
          >
            <div class="form-input">
              <input
                type="text"
                name="username"
                id="regis_username"
                placeholder="Username"
                required
                class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
                autocomplete="off"
              />
            </div>

            <div class="form-input">
              <input
                type="text"
                name="name"
                id="regis_name"
                placeholder="Name"
                autocomplete="off"
                required
                class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
              />
            </div>

            <div class="form-input">
              <input
                type="password"
                name="password"
                id="regis_password"
                placeholder="Password"
                required
                class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
              />
            </div>

            <div class="flex flex-row gap-2">
              <button
                type="submit"
                class="px-4 py-2 w-40 mt-4 mb-4 inline-block text-center justify-center rounded-[50px] bg-[rgba(245,245,245)] border-none outline-none shadow-2xl cursor-pointer hover:bg-gradient-to-r from-[#ffb548] to-[#edde5d] hover:text-slate-800 transition-all ease-in-out duration-[.3s]"
              >
                Sign up
              </button>
              <button
                type="button"
                class="btn-close-login px-4 py-2 w-40 mt-4 mb-4 inline-block text-center justify-center rounded-[50px] bg-[rgba(245,245,245)] outline-none shadow-2xl cursor-pointer hover:border-red-600 hover:border-2 hover:text-slate-800 transition-all ease-in-out duration-[.3s]"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      id="error"
      class="hidden p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 absolute z-[999999] top-[100px] right-[10px]"
      role="alert"
    >
      <span class="font-medium">Danger alert!</span>
      <span id="error_message"></span>
    </div>

    <input type="hidden" id="EJSData" value="<%= JSON.stringify(query) %>" />
    <script src="../assets/js/landing_page.js" type="text/javascript"></script>
  </body>
</html>
