@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      ),
      url("/images/main-bg.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    @apply font-bold;
  }

  h1 {
    @apply font-babasNeue text-[80px] font-bold;
  }
  h2 {
    @apply font-babasNeue text-[34px] font-bold;
  }
  h2 {
    @apply font-babasNeue text-[24px] font-bold;
  }

  #features ul::before {
    content: "";
    display: inline-block;
    width: 2px;
    background: white;
    position: absolute;
    left: 5px;
    top: 35px;
    height: calc(100% - 100px);
  }

  #features ul li:after {
    content: url(../images/ellipse.svg);
    position: absolute;
    left: -3px;
    top: 30px;
  }

  #features ul li:last-child::before {
    content: url(../images/ellipse-outline.svg);
    position: absolute;
    left: -3px;
    top: 8.5rem;
  }

  #features ul li:last-child::after {
    content: url(../images/ellipse-outline.svg);
    position: absolute;
    top: 11rem;
    left: -3px;
  }

  @media screen and (max-width: 480px) {
    #features ul::before {
      content: "";
      display: inline-block;
      width: 2px;
      background: white;
      position: absolute;
      left: 5px;
      top: 35px;
      height: calc(100% - 8rem);
    }
  }

  .form-input {
    @apply w-[300px] m-2 bg-[rgba(245,245,245)] rounded-2xl font-semibold shadow-lg;
  }

  .navigation {
    @apply fixed -left-80 md:left-0 w-[300px] h-full bg-[#1b1c1e] border-l-[10px] border-l-[#1b1c1e]  overflow-hidden transition delay-75 duration-75;
  }

  .navigation ul {
    @apply absolute top-0 left-0 w-full;
  }

  .navigation ul li,
  .navigation ul li .hovered {
    @apply relative w-[100%] hover:bg-white rounded-tl-3xl rounded-bl-3xl first:mb-10 first:pointer-events-none hover:text-slate-500;
  }

  .navigation ul li.active,
  .navigation ul li.active a {
    @apply bg-white text-slate-500 rounded-tl-3xl rounded-bl-3xl;
  }

  .navigation ul li a,
  .navigation ul li .hovered a {
    @apply relative flex w-full no-underline text-white hover:text-slate-500;
  }

  .navigation ul li a .menu-icons {
    @apply relative block min-w-[60px] h-16 leading-[70px] text-center;
  }

  .navigation ul li a .menu-icons ion-icon {
    @apply text-2xl;
  }

  .navigation ul li a .menu-title {
    @apply relative block p-[0_10px] h-16 leading-[60px] whitespace-nowrap text-start;
  }

  .navigation ul li:hover a::before,
  ul li .hovered a::before {
    @apply content-[''] absolute right-0 w-14 h-14 bg-transparent -top-[50px] rounded-[50%] shadow-[35px_35px_0_10px_white] pointer-events-none;
  }
  .navigation ul li:hover a::after,
  ul li .hovered a::after {
    @apply content-[''] absolute right-0 w-14 h-14 bg-transparent -bottom-[50px] rounded-[50%] shadow-[35px_-35px_0_10px_white] pointer-events-none;
  }

  .navigation.active {
    @apply w-80 left-0 md:w-20;
  }

  #main.active {
    @apply left-80 w-[calc(100%-80px)] md:left-[80px];
  }

  #list-users table thead td {
    @apply font-semibold;
  }

  #list-users table tbody tr {
    @apply text-slate-800 border-b border-[rgba(0,0,0,0.1)];
  }

  #list-users table tr td {
    @apply p-4;
  }

  #list-users table tr td:last-child {
    @apply text-end;
  }

  #list-users table tbody tr:last-child {
    @apply border-none;
  }

  #list-users table tbody tr:hover {
    @apply bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800;
  }

  #list-users table thead td {
    @apply font-semibold;
  }

  #list-standing table tr td {
    @apply p-4;
  }

  #list-standing table tbody tr:hover {
    @apply bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800;
  }
}

@layer components {
  .menu-navbar {
    @apply block py-2 pr-4 pl-3 text-white/50 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-white md:p-0 font-bold;
  }

  .feature-point {
    @apply uppercase font-openSans bg-gradient-to-r from-[#ffb548] to-[#f3af34] bg-clip-text text-transparent font-bold leading-relaxed text-2xl;
  }

  .glass-view {
    @apply bg-slate-400 bg-opacity-20 backdrop-blur-lg rounded;
  }

  .text-muted {
    @apply text-slate-600/80;
  }

  .right-button {
    @apply translate-x-[98%] transition-all duration-[.2s] ease-in-out;
  }
  .left-button {
    @apply translate-x-0 transition-all ease-in-out;
  }

  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .line .line1 {
    transform-original: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .line .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .line .line3 {
    transform-original: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .card-dashboard {
    @apply relative bg-white p-8 shadow-[0_7px_25px_rgba(0,0,0,0.08)] rounded-3xl flex justify-between cursor-pointer;
  }
  .card-dashboard .number {
    @apply relative font-semibold text-3xl text-slate-500 leading-none;
  }
  .card-dashboard .card-name {
    @apply mt-1 text-lg text-slate-500 leading-none group-hover:text-white;
  }
  .card-dashboard .icon-box {
    @apply text-[3.5em] leading-none text-gray-600 group-hover:text-white;
  }

  .list-panel {
    @apply relative bg-white p-8 shadow-[0_7px_25px_rgba(0,0,0,0.08)] min-h-[500px] rounded-3xl;
  }
}
