<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>
  <body class="overflow-x-hidden min-h-screen">
    <div class="relative w-full">
      <%- include("../partials/admin_nav"); %>

      <div
        class="absolute w-full md:left-[300px] md:w-[calc(100%-300px)] min-h-screen transition duration-[.5s]"
        id="main"
      >
        <div
          class="w-full h-[60px] flex justify-between items-center p-[0_10px]"
        >
          <div
            class="relative top-0 w-16 h-16 flex justify-center items-center text-3xl cursor-pointer"
            id="toggle"
          >
            <ion-icon name="reorder-four-outline"></ion-icon>
          </div>
        </div>

        <div class="relative w-full p-5 grid grid-cols-[repeat(1,1fr)] gap-8">
          <div
            class="card-dashboard group hover:bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800"
          >
            <div>
              <div class="number group-hover:text-white">
                <%= dataUser.length %>
              </div>
              <div class="card-name group-hover:text-white">Total Users</div>
            </div>
            <div class="icon-box group-hover:text-white">
              <ion-icon name="people-circle-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div
          class="relative w-full p-5 grid grid-cols-1 md:grid-cols-[2fr,1fr] gap-8 mt-3"
          id="details"
        >
          <div class="list-panel overflow-x-auto" id="list-users">
            <h2 class="font-semibold text-slate-500 tracking-wide">
              List Users
            </h2>
            <table class="w-full border-collapse mt-3">
              <thead>
                <tr>
                  <td>#</td>
                  <td>Username</td>
                  <td>Name</td>
                  <td>Address</td>
                  <td>Phone Number</td>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < dataUser.length; i++) { %>
                <tr>
                  <td><%= (i+1) %></td>
                  <td><%= dataUser[i].username %></td>
                  <td>
                    <%= dataUser[i].UserGameBiodata ?
                    dataUser[i].UserGameBiodata.firstName : null %> <%=
                    dataUser[i].UserGameBiodata ?
                    dataUser[i].UserGameBiodata.lastName : null %>
                  </td>
                  <td>
                    <%= dataUser[i].UserGameBiodata?
                    dataUser[i].UserGameBiodata.address : null %>
                  </td>
                  <td>
                    <%= dataUser[i].UserGameBiodata ?
                    dataUser[i].UserGameBiodata.phoneNumber : null %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="list-panel overflow-x-auto" id="list-standing">
            <h2 class="font-semibold text-slate-500 tracking-wide">
              List Standings
            </h2>
            <table class="w-full border-collapse mt-3">
              <thead>
                <tr>
                  <td>Username</td>
                  <td>Total Win</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Malcolm Lockyer</td>
                  <td>1961</td>
                </tr>
                <tr>
                  <td>The Eagles</td>
                  <td>1972</td>
                </tr>
                <tr>
                  <td>Shining Star</td>
                  <td>1975</td>
                </tr>
                <tr>
                  <td>Earth, Wind, and Fire</td>
                  <td>1975</td>
                </tr>
                <tr>
                  <td>Earth, Wind, and Fire</td>
                  <td>1975</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../javascripts/admin.js" type="text/javascript"></script>
  </body>
</html>
