<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>
  <body>
    <section class="flex flex-col md:flex-row h-screen items-center">
      <div class="h-screen md:w-1/2 xl:w-2/3 hidden md:block">
        <img
          src="../images/features.jpg"
          alt="bg-login"
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="bg-white items-center justify-center w-full h-screen md:w-1/2 xl:w-1/3 px-6 lg:px-16 xl:px-12 flex md:max-w-md lg:max-w-full md:mx-auto"
      >
        <div class="w-full h-100">
          <h1 class="font-bold tracking-wide">Login Admin</h1>
          <h2 class="font-semibold leading-tight mt-12">
            Log in into your account
          </h2>
          <form
            action="/admin/login"
            method="post"
            class="mt-6"
            id="signin-form"
          >
            <div>
              <label class="block text-slate-600">Username</label>
              <input
                type="text"
                name="username"
                placeholder="Enter Username"
                class="w-full bg-gray-200 rounded-lg px-4 py-3 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                value="john"
                autocomplete="off"
                autofocus
                id="username"
                required
              />
            </div>
            <div class="mt-4">
              <label class="block text-slate-600">Password</label>
              <input
                type="password"
                placeholder="Enter Password"
                id="password"
                name="password"
                class="w-full bg-gray-200 rounded-lg px-4 py-3 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                value="password1"
              />
            </div>

            <button
              type="submit"
              class="w-full block bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800 px-4 py-3 mt-6 hover:bg-blue-400 rounded-lg font-semibold focus:outline-none"
            >
              Log In
            </button>
          </form>
        </div>
      </div>
    </section>

    <% if(messages.error) {%>
    <div
      id="error"
      class="hidden p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 absolute z-[999999] top-1 right-[10px]"
      role="alert"
    >
      <span class="font-medium">Danger alert!</span>
      <span> <%= messages.error%> </span>
    </div>
    <input type="hidden" id="mssge_error" value="1" />
    <% }else{ %> <input type="hidden" id="mssge_error" value="0" /> <% } %>
    <script src="../javascripts/admin.js" type="text/javascript"></script>
    <script>
      window.onload = () => {
        const msgError = document.getElementById("mssge_error").value;
        if (msgError == 1) {
          document.getElementById("error").classList.remove("hidden");

          setTimeout(() => {
            document.getElementById("error").classList.add("hidden");
          }, 3000);
        }
      };

      let signIn = document.getElementById("signin-form");
      signIn.addEventListener("submit", function (event) {
        // event.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const url = this.action;

        fetch(url, {
          method: "POST",
          body: JSON.stringify({
            username: username,
            password: password,
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        });
      });
    </script>
  </body>
</html>
