<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>
  <body class="overflow-x-hidden min-h-screen">
    <div class="relative w-full">
      <%- include("../partials/admin_nav"); %>
      <div
        class="absolute w-full md:left-[300px] md:w-[calc(100%-300px)] min-h-screen transition duration-[.5s]"
        id="main"
      >
        <div
          class="w-full h-[60px] flex justify-between items-center p-[0_10px]"
        >
          <div
            class="relative top-0 w-16 h-16 flex justify-center items-center text-3xl cursor-pointer"
            id="toggle"
          >
            <ion-icon name="reorder-four-outline"></ion-icon>
          </div>

          <!--div class="relative w-[400px] m-[0_10px]">
            <label class="relative w-full">
              <input
                type="text"
                name="keyword"
                id="keyword"
                class="w-full h-10 rounded-3xl p-[5px_20px] outline-none border-[2px] pl-8 text-lg"
                placeholder="Search Here" /><ion-icon
                name="search-outline"
                class="absolute top-0 left-3 text-lg"
              ></ion-icon
            ></label>
          </div-->
        </div>

        <div class="relative w-full p-5 grid grid-cols-1 mt-3 ,ax" id="details">
          <div class="list-panel overflow-x-auto" id="list-users">
            <div class="flex justify-between items-start">
              <h2 class="font-semibold text-slate-500 tracking-wide">
                List Users
              </h2>
              <a
                class="relative p-[5px_20px] bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800 no-underline rounded-2xl cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
                id="btn-add-new"
              >
                Create New</a
              >
            </div>

            <table class="w-full border-collapse mt-3">
              <thead>
                <tr>
                  <td>#</td>
                  <td>Username</td>
                  <td>Name</td>
                  <td>Address</td>
                  <td>Phone Number</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < dataUser.length; i++) { %>
                <tr>
                  <td><%= (i+1) %></td>
                  <td><%= dataUser[i].username %></td>
                  <td>
                    <%= dataUser[i].UserGameBiodata ?
                    dataUser[i].UserGameBiodata.firstName : null %> <%=
                    dataUser[i].UserGameBiodata ?
                    dataUser[i].UserGameBiodata.lastName : null %>
                  </td>
                  <td>
                    <%= dataUser[i].UserGameBiodata?
                    dataUser[i].UserGameBiodata.address : null %>
                  </td>
                  <td>
                    <%= dataUser[i].UserGameBiodata ?
                    dataUser[i].UserGameBiodata.phoneNumber : null %>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="flex item-center justify-center">
                      <button
                        class="w-4 mr-2 transform hover:scale-110 btn-edit-user"
                        id="<%= dataUser[i].id %>"
                        data-url="/admin/edit-user/<%= dataUser[i].id %>"
                      >
                        <ion-icon name="pencil-outline"></ion-icon>
                      </button>
                      <button
                        class="w-4 mr-2 transform hover:scale-110 btn-delete-user"
                        id="<%= dataUser[i].id %>"
                      >
                        <ion-icon name="trash-outline"></ion-icon>
                      </button>
                    </div>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div
      class="relative z-10 hidden transition duration-150 ease-in-out"
      aria-labelledby="modal-title"
      role="dialog"
      id="userModal"
      aria-modal="true"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      ></div>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div
          class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
        >
          <div
            class="fixed transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 md:my-1 w-full sm:max-w-lg top-0 bottom-0 md:right-0 md:mr-2 max-h-screen"
          >
            <div
              class="flex flex-col max-h-screen justify-between overflow-scroll"
            >
              <form action="/admin/store-user" method="post" id="modal-form">
                <div
                  class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 flex flex-col"
                >
                  <div class="sm:flex sm:items-center">
                    <div
                      class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-gradient-to-r from-[#ffb548] to-[#edde5d] sm:mx-0 sm:h-10 sm:w-10"
                    >
                      <ion-icon
                        name="person-outline"
                        class="h-6 w-6 text-slate-600"
                      ></ion-icon>
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                      <h3
                        class="text-lg font-medium leading-6 text-gray-900"
                        id="modal-title"
                      >
                        Add New User
                      </h3>
                    </div>
                  </div>
                  <div class="mt-4">
                    <div>
                      <label class="block">Username</label>
                      <input
                        type="text"
                        placeholder="Enter Username"
                        class="w-full rounded-lg px-2 py-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                        autocomplete="off"
                        id="username"
                        required
                      />
                    </div>
                    <div class="mt-2">
                      <label class="block">Password</label>
                      <input
                        type="password"
                        placeholder="Enter Password"
                        class="w-full rounded-lg px-2 py-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                        autocomplete="off"
                        id="password"
                        required
                      />
                    </div>
                    <div class="mt-2">
                      <label class="block">First Name</label>
                      <input
                        type="text"
                        placeholder="Enter First Name"
                        class="w-full rounded-lg px-2 py-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                        autocomplete="off"
                        id="firstName"
                        required
                      />
                    </div>
                    <div class="mt-2">
                      <label class="block">Last Name</label>
                      <input
                        type="text"
                        placeholder="Enter Last Name"
                        class="w-full rounded-lg px-2 py-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                        autocomplete="off"
                        id="lastName"
                        required
                      />
                    </div>
                    <div class="mt-2">
                      <label class="block">Phone Number</label>
                      <input
                        type="text"
                        placeholder="Enter Phone Number"
                        class="w-full rounded-lg px-2 py-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                        autocomplete="off"
                        id="phoneNumber"
                        required
                      />
                    </div>

                    <div class="mt-2">
                      <label class="block">Address</label>
                      <textarea
                        type="text"
                        placeholder="Enter Address"
                        class="w-full rounded-lg px-2 py-2 border focus:border-blue-500 focus:bg-white focus:outline-none resize-none"
                        autocomplete="off"
                        id="address"
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                  <button
                    type="submit"
                    class="inline-flex w-full justify-center rounded-md border border-transparent bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800 px-4 py-2 text-base font-medium shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                  >
                    Save
                  </button>
                  <button
                    type="button"
                    id="btn-insert-close-modal"
                    class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      id="error"
      class="hidden p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 absolute z-[999999] top-1 right-2"
      role="alert"
    >
      <span id="error_message"></span>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../assets/js/admin.js" type="text/javascript"></script>
    <script>
      const btnDeleteUsers = document.getElementsByClassName("btn-delete-user");
      const btnEditUsers = document.getElementsByClassName("btn-edit-user");

      document
        .getElementById("modal-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const method = document.getElementById("modal-form").method;
          console.log(method);
          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;
          const firstName = document.getElementById("firstName").value;
          const lastName = document.getElementById("lastName").value;
          const phoneNumber = document.getElementById("phoneNumber").value;
          const address = document.getElementById("address").value;

          fetch(this.action, {
            method: method.toLowerCase() == "post" ? "POST" : "PUT",
            body: JSON.stringify({
              username: username,
              password: password,
              firstName: firstName,
              lastName: lastName,
              phoneNumber: phoneNumber,
              address: address,
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (data) {
              if (data.code == 409) {
                document.getElementById("error_message").innerText =
                  data.message;
                document.getElementById("error").classList.remove("hidden");

                setTimeout(() => {
                  document.getElementById("error").classList.add("hidden");
                }, 3000);
              } else {
                location.reload();
              }
            });
        });

      document
        .getElementById("btn-add-new")
        .addEventListener("click", function () {
          const form = document.getElementById("modal-form");
          form.action = `/admin/store-user`;
          form.setAttribute("method", "POST");
          document.getElementById("modal-title").innerText = "Add New User";
          document.getElementById("userModal").classList.remove("hidden");
        });

      document
        .getElementById("btn-insert-close-modal")
        .addEventListener("click", function () {
          document.getElementById("userModal").classList.add("hidden");
        });

      for (var i = 0; i < btnDeleteUsers.length; i++) {
        btnDeleteUsers[i].addEventListener("click", function (e) {
          fetch("/admin/user-delete", {
            method: "DELETE",
            body: JSON.stringify({
              id: this.id,
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
          })
            .then((res) => {
              if (res.ok) {
                location.reload();
              } else {
                console.log("HTTP request unsuccessful");
              }
              return res;
            })
            .catch((error) => console.log(error));
        });
      }

      for (var i = 0; i < btnEditUsers.length; i++) {
        btnEditUsers[i].addEventListener("click", function (e) {
          //let url = new URL(`${e.view.origin}/admin/user-edit`);
          //console.log(url);

          let data = document.getElementById(this.id);
          fetch(data.dataset.url)
            .then(function (response) {
              return response.json();
            })
            .then(function (data) {
              const user = data.message;
              const form = document.getElementById("modal-form");
              document.getElementById("username").value = user.username;
              document.getElementById("firstName").value = user.UserGameBiodata
                ? user.UserGameBiodata.firstName
                : null;
              document.getElementById("lastName").value = user.UserGameBiodata
                ? user.UserGameBiodata.lastName
                : null;
              document.getElementById("phoneNumber").value =
                user.UserGameBiodata ? user.UserGameBiodata.phoneNumber : null;
              document.getElementById("address").value = user.UserGameBiodata
                ? user.UserGameBiodata.address
                : null;
              form.action = `/admin/update-user/${user.id}`;
              form.setAttribute("method", "PUT");
              document.getElementById("modal-title").innerText = "Update User";
              document.getElementById("userModal").classList.remove("hidden");
            });
        });
      }
    </script>
  </body>
</html>
