@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      ),
      url("/assets/images/main-bg.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    @apply font-bold;
  }

  h1 {
    @apply font-babasNeue text-[80px] font-bold;
  }
  h2 {
    @apply font-babasNeue text-[34px] font-bold;
  }
  h2 {
    @apply font-babasNeue text-[24px] font-bold;
  }

  #features ul::before {
    content: "";
    display: inline-block;
    width: 2px;
    background: white;
    position: absolute;
    left: 5px;
    top: 35px;
    height: calc(100% - 100px);
  }

  #features ul li:after {
    content: url(../images/ellipse.svg);
    position: absolute;
    left: -3px;
    top: 30px;
  }

  #features ul li:last-child::before {
    content: url(../images/ellipse-outline.svg);
    position: absolute;
    left: -3px;
    top: 8.5rem;
  }

  #features ul li:last-child::after {
    content: url(../images/ellipse-outline.svg);
    position: absolute;
    top: 11rem;
    left: -3px;
  }

  @media screen and (max-width: 480px) {
    #features ul::before {
      content: "";
      display: inline-block;
      width: 2px;
      background: white;
      position: absolute;
      left: 5px;
      top: 35px;
      height: calc(100% - 8rem);
    }
  }

  .form-input {
    @apply w-[300px] m-2 bg-[rgba(245,245,245)] rounded-2xl font-semibold shadow-lg;
  }
}

@layer components {
  .menu-navbar {
    @apply block py-2 pr-4 pl-3 text-white/50 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-white md:p-0 font-bold;
  }

  .feature-point {
    @apply uppercase font-openSans bg-gradient-to-r from-[#ffb548] to-[#f3af34] bg-clip-text text-transparent font-bold leading-relaxed text-2xl;
  }

  .glass-view {
    @apply bg-slate-400 bg-opacity-20 backdrop-blur-lg rounded;
  }

  .text-muted {
    @apply text-slate-600/80;
  }

  .right-button {
    @apply translate-x-[98%] transition-all duration-[.2s] ease-in-out;
  }
  .left-button {
    @apply translate-x-0 transition-all ease-in-out;
  }

  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .line .line1 {
    transform-original: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .line .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .line .line3 {
    transform-original: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
}
