/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
	RESET CSS
*/

header {
	box-sizing: border-box;
	padding-top: 2em;
	padding-left: 1em;
}

.back-to
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color:#724C21;
}

body{
	background-color: #9C835F;
}

.title{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.match-section
{
	position: relative;
	z-index: 999999;
}

.match-section h1{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 144px;
	line-height: 196px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #BD0000;
}

.image-panel:hover
{
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 20px;
}

.player-choice img:hover
{
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .block-ui
  {
	display: flex;
	background-color: #ffffff;
	position:fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	opacity: .5;

  }
 /* Media Query for Mobile Devices */
 @media screen and (max-width: 480px) {
	header .title-game
	{
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 2.5rem;
		text-align: center;
		color:#F9B23D
	}

	#games
	{
		margin-top:2em;
		margin-left:1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	#games .player-choice,.computer-choice
	{
		display: inline-flex;
	}

	.image-panel
	{
		width: 80%;
		height: 120px;
		border-color: transparent;
		background-color: transparent;
	}

	.match-result{
		position: absolute;
		top:-1em;
		left:1em;
		width:296px;
		height:186px;
		display: flex;
		background-color: #4C9654;
		color: white;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 38px;
		line-height: 52px;
		align-items: center;
		justify-content: center;
		letter-spacing: 0.1em;
		border-radius: 10px;
		text-transform: uppercase;
		transform: rotate(-30.98deg);
	
	}

	.image-panel-refresh
	{
		height: 20px;
		border-color: transparent;
		background-color: transparent;
	}

	.image-panel img
	{
		max-width: 80%;
	}

	.image-panel-refresh .refresh
	{
		max-width: 15%;
		margin-bottom: 40px;
	}



}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1000px) {
	header .title-game
	{
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 2.5rem;
		margin-left: 10px;
		text-align: center;
		color:#F9B23D
	}

	#games
	{
		margin-top:2em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	#games .player-choice,.computer-choice
	{
		display: inline-flex;
	}

	.image-panel
	{
		width: 223px;
		height: 204px;
		border-color: transparent;
		background-color: transparent;
	}

	.image-panel img
	{
		max-width: 70%;
	}

	.image-panel-refresh
	{
		width: 223px;
		height: 150px;
		z-index: 999999;
		border-color: transparent;
		background-color: transparent;
	}

	
	.image-panel-refresh img
	{
		max-width: 60%;
	}
	

}

/* Media Query for Large screens */
@media screen and (min-width: 1000px) {
	header .title-game
	{
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 2.5rem;
		margin-left: 10px;
		text-align: center;
		color:#F9B23D
	}

	#games
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.image-panel
	{
		width: 223px;
		height: 150px;
		border-color: transparent;
		background-color: transparent;
	}

	.match-result{
		position: absolute;
		top:0;
		left: -2rem;
		width:296px;
		height:186px;
		display: flex;
		background-color: #4C9654;
		color: white;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 38px;
		line-height: 52px;
		align-items: center;
		justify-content: center;
		letter-spacing: 0.1em;
		border-radius: 10px;
		text-transform: uppercase;
		transform: rotate(-30.98deg);
	
	}

	.image-panel img
	{
		max-width: 40%;
	}

	.image-panel-refresh
	{
		width: 223px;
		height: 150px;
		z-index: 999999;
		border-color: transparent;
		background-color: transparent;
	}


	.image-panel-refresh img
	{
		position:absolute;
		bottom: -5em;
		left:2em;
		max-width: 60%;
	}


}