<div class="navigation">
  <ul>
    <li>
      <a href="#"
        ><span class="menu-icons">
          <ion-icon name="logo-javascript"></ion-icon></span
        ><span class="menu-title">Ch. Chapter6</span></a
      >
    </li>
    <li>
      <a href="/admin"
        ><span class="menu-icons">
          <ion-icon name="home-outline"></ion-icon></span
        ><span class="menu-title">Dashboard</span></a
      >
    </li>
    <li>
      <a href="/admin/user"
        ><span class="menu-icons">
          <ion-icon name="person-add-outline"></ion-icon></span
        ><span class="menu-title">User</span></a
      >
    </li>
    <li>
      <a href="/admin/admin"
        ><span class="menu-icons">
          <ion-icon name="person-add-outline"></ion-icon></span
        ><span class="menu-title">Admin</span></a
      >
    </li>
    <li>
      <form
        id="logout-form"
        action="/admin/logout"
        method="POST"
        class="hidden"
      ></form>

      <a
        href="#"
        onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
        ><span class="menu-icons"
          ><ion-icon name="log-out-outline"></ion-icon></span
        ><span class="menu-title">Sign Out</span></a
      >
    </li>
  </ul>
</div>
