/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
	RESET CSS
*/

.navbar {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1rem;
	font-size: 12px;
	background: rgba(0, 0, 0, .5)!important;
	font-family: 'Open Sans', sans-serif;
	z-index: 99999;
 }


.navbar-nav .logo{
	text-transform: uppercase;
	letter-spacing: 0.1em;
  }

  .navbar .navbar-brand {
	color: white;
  }
  
  h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 80px;
	font-weight: bold;
  }

  h2 {
	font-family: 'Bebas Neue', cursive;
	font-size: 34px;
	font-weight: bold;
  }

  h3 {
	font-family: 'Bebas Neue', cursive;
	font-size: 24px;
	font-weight: bold;
  }
  
  header {
	position: relative;
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)),  url('../images/main-bg.jpg');
	background-size: cover;
	background-position: center;
	display: block;
  }


  header #header-title h1{ 
	margin-bottom: 4rem;
	font-weight: normal;
  }

  header  #header-title h3{ 
	font-size: 1.5rem;
	font-weight: normal;
	margin-bottom: 3rem;
	font-family: Arial, Helvetica, sans-serif;
  }

  .btn-play-now {
    color: #000;
	font-weight: bold;
	text-transform: uppercase;
    border-color: #ffb548;
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
}

header #header-bottom-scroll a{
	text-decoration: none;
	color: white;
	letter-spacing: .1rem;
	font-weight: bold;
}

header #header-bottom-scroll a p{
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}

#games {
	height: 100vh;
	background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)), url('../images/the-games-bg.jpg');
	background-size: cover;
	background-position: center;
	background-size: cover;
	display: block;
  }

#games .games-content{
	padding-top: 5rem;
  }

.section-info{
	color: white;
	font-weight: normal;
	font-size: 1.5rem;
	font-family: Arial, Helvetica, sans-serif;
}

.section-title{
	color: white;
	font-weight: normal;
	text-transform:uppercase;
	font-size: 3.5rem;
    line-height: 4rem;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.1rem;
}

#games .carousel .carousel-indicators button {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin-right: 15px;
 }

 #games .carousel .carousel-control-prev .carousel-control-prev-icon {
	background-image: url("../images/switch-left.svg");
	background-repeat: no-repeat;
 }

 

 #games .carousel .carousel-control-next .carousel-control-next-icon {
	background-image: url("../images/switch-right.svg");
	background-repeat: no-repeat;
 }

#feature {
	height: 100vh;
	background-image:url('../images/features.jpg');
	background-size: cover;
	background-position: center;
	background-size: cover;
	display: block;
  }

  #feature .list-feature ul {
	list-style: none;
	position: relative;
	margin:0;
	padding: 0;
	 
}

  #feature .list-feature ul li h3{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.font-color-brown{
	background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#feature .list-feature ul li p{
	font-family: 'Open Sans', sans-serif;
	color:white;
	margin-top: 1rem;
}

  #feature .list-feature ul::before {
	content:"";
	display: inline-block;
	width: 2px;
	background: white;
	position: absolute;
	left:-24px;
	top:5px;
	height: calc(100% - 130px );
}

  #feature .list-feature ul li {
   margin-bottom: 0; 
    padding-bottom: 2.5em;
}

#feature .list-feature ul li:after {
	content: url(../images/ellipse.svg);
    position: absolute;
    left: -2rem; /*adjust manually*/
    top: 0px;
}

#feature .list-feature ul li:last-child::before {
	content: url(../images/ellipse-outline.svg);
    position: absolute;
    left: -2rem; /*adjust manually*/
    top: 7rem;
}

#feature .list-feature ul li:last-child::after {
	content: url(../images/ellipse-outline.svg);
    position: absolute;
    left: -2rem; /*adjust manually*/
    top: 11rem;
}

 

#system-req {
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1)),  url('../images/requirements.png');
	background-size: cover;
	background-position: center;
	display: block;

	background-size: cover;
	display: block;
  }

  #system-req h1.section-title {
	font-family: 'Open Sans', sans-serif;
  }

  #system-req table tbody tr td {
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: normal;
  }

  #system-req table tbody tr td h3 {
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
  }

  #system-req table tbody tr td p {
	color: white;
	line-height: 1rem;
  }

  .table{
	--bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
	border: .1px solid;
    border-color: #dee2e6;
	border-collapse:collapse;
  }
  
  #top-score {
	height: 100vh;
	background-image: url('../images/top-score-bg.png');
	background-size: cover;
	background-position: center;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	display: block;
  }

  #top-score h1 {
	font-weight: normal;
	color:white;
	font-size: calc(1.375rem + 1.5vw);
	letter-spacing: .1rem;
	margin-bottom: 1rem;
	font-family:  Arial, Helvetica, sans-serif;
	text-transform: uppercase;
  }

  #top-score h1 {
	font-weight: normal;
	color:white;
	font-size: calc(1.375rem + 1.5vw);
	letter-spacing: .1rem;
	margin-bottom: 1rem;
	font-family:  Arial, Helvetica, sans-serif;
	text-transform: uppercase;
  }

  #top-score .top-score-desc {
	color:white;
  }
  #top-score .player-name {
	letter-spacing: 0.1rem;
  }


  #newsletter {
	position: relative;
	background-color: #0D0A09;
	background-size: cover;
	background-position: center;
	display: block;
	font-family: 'Open Sans', sans-serif;
  }

  	#newsletter .newsletter-content .newsletter-content-left input[type=text]
	{
		border: 0px;
		color:#ffb548
		
	}

	#newsletter .newsletter-content .newsletter-content-left input[type=text]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#newsletter .newsletter-content .newsletter-content-left input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	   opacity:  1;
	}
	#newsletter .newsletter-content .newsletter-content-left input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
		background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	   opacity:  1;
	}
	#newsletter .newsletter-content .newsletter-content-left input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
		background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#newsletter .newsletter-content .newsletter-content-left input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
		background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	#newsletter .newsletter-content .newsletter-content-left input[type=text]::placeholder { /* Most modern browsers support this now. */
		background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

  	footer ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	footer li:first-child{
		border-left: none;
	}

	footer li {
		text-transform: uppercase;
		flex-grow: 1;
		flex-basis: auto;
		font-weight: bold;
		border-left: 1px solid #ccc;
	}


  /* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
	header #header-title {
		position: absolute;
		top: 30%; 
		left: 30%; 
		color: white;
		letter-spacing: 0.1rem;
		text-align: center;
		transform: translate(-25%, -30%);
	}


	header #header-bottom-scroll{
		position: absolute;
		text-align: center;
		bottom: 5%; 
		left: 40%; 
	  }

	  #games .games-left 
	  {
		  box-sizing: border-box;
		  padding-top: 2rem;
		  padding-left: 1rem;
	  }

	  #games .games-right 
	  {
		box-sizing: border-box;
		padding-top: 2rem;
		padding-right: 1rem;
	  }

	  #games .games-content {
		padding-top: 15rem;
	}

	#feature .feature-content{
		display: flex;
		flex-direction: column;
		margin-top: 8rem;
		padding-left: 3rem;
	  }

	#system-req .system-req-content {
		box-sizing: border-box;
		padding-top: 10rem;
	}

	#system-req h1.section-title {
		font-size: 2.5rem;
		line-height: 3rem;
		margin-bottom: 1rem;
	}

	#top-score .top-score-content {
		box-sizing: border-box;
		padding-top: 5rem;
		margin-left: 1rem;
	}

	.btn-see-more{
		margin-top:1rem;
		margin-bottom:1rem;
	}

	#newsletter .newsletter-content
	{
		box-sizing: border-box;
		padding-top: 2rem;
		color: white;
	}


	footer {
		--bs-gutter-x: 1.5rem;
		--bs-gutter-y: 0;
		width: 100%;
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-right: auto;
		margin-left: auto;
	}
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1000px) {
	header #header-title {
		position: absolute;
		top: 30%; 
		left: 30%; 
		color: white;
		letter-spacing: 0.1rem;
		text-align: center;
		transform: translate(-25%, -30%);
	}

	header #header-bottom-scroll{
		position: absolute;
		text-align: center;
		bottom: 5%; 
		left: 40%; 
	  }

	  #games .games-left 
	  {
		box-sizing: border-box;
		padding-top: 2rem;
		padding-left: 1rem;
	  }

	  #games .games-right 
	  {
		box-sizing: border-box;
		padding-top: 2rem;
		padding-right: 1rem;
	  }

	  #feature .feature-content{
		display: flex;
		flex-direction: column;
		margin-top: 10rem;
	  }

	  #system-req .system-req-content {
		box-sizing: border-box;
		padding-top: 20rem;
	}

	#top-score .top-score-content {
		box-sizing: border-box;
		padding-top: 10rem;
		margin-left: 4rem;
	}

	.btn-see-more{
		margin-top:1rem;
		margin-bottom:1rem;
	}

	#newsletter .newsletter-content
	{
		box-sizing: border-box;
		padding-top: 2rem;
		color: white;
	}

	footer {
		--bs-gutter-x: 1.5rem;
		--bs-gutter-y: 0;
		width: 100%;
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-right: auto;
		margin-left: auto;
	}
}

/* Media Query for Large screens */
@media screen and (min-width: 1000px) {
	header #header-title {
		position: absolute;
		top: 45%; 
		left: 50%; 
		color: white;
		letter-spacing: 0.1rem;
		text-align: center;
		transform: translate(-45%, -50%);
	}

	.navbar{
		height: 5rem;
	}
	

	.navbar-brand{
		margin-left:5rem;
	}
	
	.margin-right
	{
		margin-right:5rem;
	}

	header #header-bottom-scroll{
		position: absolute;
		bottom:10%; 
		text-align: center;
		left: 47%; 
		height: 10px;
	  }

	#games .games-left 
	{
		box-sizing: border-box;
		padding-left: 5rem;
	}

	#games .games-right 
	{
	  box-sizing: border-box;
	  padding-top: 2rem;
	  padding-right: 1rem;
	}

	#feature .feature-content{
		display: flex;
		flex-direction: column;
		margin-top: 5rem;
		box-sizing: border-box;
		padding-left: 4rem;
	  }

	  #feature .feature-content .list-feature{
		margin-top: 5rem;
	  }

	  #games .carousel .carousel-control-prev {
		margin-left:-5rem;
	 }
	
	 #games .carousel .carousel-control-next {
		margin-right:-5rem;
	 }

	 #system-req .system-req-content {
		box-sizing: border-box;
		padding-top: 10rem;
		margin-left: 4rem;
	}

	 #top-score .top-score-content {
		box-sizing: border-box;
		padding-top: 5rem;
		margin-left: 4rem;
	}

	 #top-score .top-score-content .top-score-left{
		box-sizing: border-box;
		padding-top: 10rem;
	}

	.btn-see-more{
		margin-top:1rem;
	}

	#newsletter .newsletter-content
	{
		box-sizing: border-box;
		padding-top: 10rem;
		color: white;
	}
}