<div
  id="modal-overlay"
  aria-modal="true"
  role="dialog"
  aria-labelledby="login"
  class="hidden inset-0 bg-black bg-opacity-30 h-screen w-full justify-center items-center md:items-center pt-10 md:pt-0 z-[50] fixed"
>
  <div
    id="loginModal"
    class="opacity-0 relative w-[380px] h-[380px] glass-view rounded duration-300 transition-transform transform -translate-y-full scale-150 flex items-center flex-col"
  >
    <div
      class="w-[80%] bg-[#ffb548] m-[2em] flex justify-between relative rounded-[50px] shadow-[rgba(0,0,0,0.9)_0px_3px_12px]"
    >
      <button
        type="button"
        id="btn-login-switch"
        class="p-[1em] w-1/2 outline-black border-none bg-transparent rounded-[50px] text-white font-semibold uppercase cursor-pointer"
      >
        Sign In
      </button>
      <button
        type="button"
        id="btn-regis-switch"
        class="p-[1em] w-1/2 outline-black border-none bg-transparent rounded-[50px] text-white font-semibold uppercase cursor-pointer"
      >
        Sign Up
      </button>
      <button
        type="button"
        id="btn-switch"
        class="absolute w-[50%] h-[90%] m-[2px] border-none outline-none rounded-[50px] left-button bg-white font-semibold text-black shadow-[rgba(0,0,0,0.1)_0px_4px_12px] uppercase"
      >
        Sign In
      </button>
    </div>
    <div>
      <form id="signin-form" action="/user/login" method="post">
        <div class="form-input">
          <input
            type="text"
            name="username"
            id="username"
            required
            placeholder="Username"
            class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
            autocomplete="off"
          />
        </div>

        <div class="form-input">
          <input
            type="password"
            name="password"
            required
            id="password"
            placeholder="Password"
            class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
          />
        </div>

        <div class="flex flex-row gap-2">
          <button
            type="submit"
            class="px-4 py-2 w-40 mt-4 mb-4 inline-block text-center justify-center rounded-[50px] bg-[rgba(245,245,245)] border-none outline-none shadow-2xl cursor-pointer hover:bg-gradient-to-r from-[#ffb548] to-[#edde5d] hover:text-slate-800 transition-all ease-in-out duration-[.3s]"
          >
            Sign in
          </button>
          <button
            type="button"
            class="btn-close-login px-4 py-2 w-40 mt-4 mb-4 inline-block text-center justify-center rounded-[50px] bg-[rgba(245,245,245)] outline-none shadow-2xl cursor-pointer hover:border-red-600 hover:border-2 hover:text-slate-800 transition-all ease-in-out duration-[.3s]"
          >
            Cancel
          </button>
        </div>
      </form>
      <form
        id="signup-form"
        class="hidden"
        action="/user/register"
        method="post"
      >
        <div class="form-input">
          <input
            type="text"
            name="username"
            id="regis_username"
            placeholder="Username"
            required
            class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
            autocomplete="off"
          />
        </div>

        <div class="form-input">
          <input
            type="text"
            name="name"
            id="regis_name"
            placeholder="Name"
            autocomplete="off"
            required
            class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
          />
        </div>

        <div class="form-input">
          <input
            type="password"
            name="password"
            id="regis_password"
            placeholder="Password"
            required
            class="w-full px-2 py-2 bg-transparent border-none focus:outline-none"
          />
        </div>

        <div class="flex flex-row gap-2">
          <button
            type="submit"
            class="px-4 py-2 w-40 mt-4 mb-4 inline-block text-center justify-center rounded-[50px] bg-[rgba(245,245,245)] border-none outline-none shadow-2xl cursor-pointer hover:bg-gradient-to-r from-[#ffb548] to-[#edde5d] hover:text-slate-800 transition-all ease-in-out duration-[.3s]"
          >
            Sign up
          </button>
          <button
            type="button"
            class="btn-close-login px-4 py-2 w-40 mt-4 mb-4 inline-block text-center justify-center rounded-[50px] bg-[rgba(245,245,245)] outline-none shadow-2xl cursor-pointer hover:border-red-600 hover:border-2 hover:text-slate-800 transition-all ease-in-out duration-[.3s]"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
