<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../assets/images/icon.ico" type="image/x-icon" />
    <title>Challenge Chapter 6</title>
  </head>
  <body class="overflow-x-hidden min-h-screen">
    <div class="relative w-full">
      <div class="navigation">
        <ul>
          <li>
            <a href="#"
              ><span class="menu-icons">
                <ion-icon name="logo-javascript"></ion-icon></span
              ><span class="menu-title">Ch. Chapter6</span></a
            >
          </li>
          <li class="active">
            <a href="/admin"
              ><span class="menu-icons">
                <ion-icon name="home-outline"></ion-icon></span
              ><span class="menu-title">Dashboard</span></a
            >
          </li>
          <li>
            <a href="/admin/user"
              ><span class="menu-icons">
                <ion-icon name="person-add-outline"></ion-icon></span
              ><span class="menu-title">User</span></a
            >
          </li>
          <li>
            <form
              id="logout-form"
              action="/admin/logout"
              method="POST"
              class="hidden"
            ></form>
            <a
              href="#"
              onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
              ><span class="menu-icons"
                ><ion-icon name="log-out-outline"></ion-icon></span
              ><span class="menu-title">Sign Out</span></a
            >
          </li>
        </ul>
      </div>

      <div
        class="absolute w-full md:left-[300px] md:w-[calc(100%-300px)] min-h-screen transition duration-[.5s]"
        id="main"
      >
        <div
          class="w-full h-[60px] flex justify-between items-center p-[0_10px]"
        >
          <div
            class="relative top-0 w-16 h-16 flex justify-center items-center text-3xl cursor-pointer"
            id="toggle"
          >
            <ion-icon name="reorder-four-outline"></ion-icon>
          </div>
        </div>

        <div class="relative w-full p-5 grid grid-cols-[repeat(1,1fr)] gap-8">
          <div
            class="card-dashboard group hover:bg-gradient-to-r from-[#ffb548] to-[#edde5d] text-slate-800"
          >
            <div>
              <div class="number group-hover:text-white">
                <%= dataUser.length %>
              </div>
              <div class="card-name group-hover:text-white">Total Users</div>
            </div>
            <div class="icon-box group-hover:text-white">
              <ion-icon name="people-circle-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div
          class="relative w-full p-5 grid grid-cols-1 md:grid-cols-[2fr,1fr] gap-8 mt-3"
          id="details"
        >
          <div class="list-panel overflow-x-auto" id="list-users">
            <h2 class="font-semibold text-slate-500 tracking-wide">
              List Users
            </h2>
            <table class="w-full border-collapse mt-3">
              <thead>
                <tr>
                  <td>#</td>
                  <td>Username</td>
                  <td>Name</td>
                  <td>Address</td>
                  <td>Phone Number</td>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < dataUser.length; i++) { %>
                <tr>
                  <td><%= (i+1) %></td>
                  <td><%= dataUser[i].username %></td>
                  <td>
                    <%= dataUser[i].UserGameBiodata ?
                    dataUser[i].UserGameBiodata.firstName : null %> <%=
                    dataUser[i].UserGameBiodata ?
                    dataUser[i].UserGameBiodata.lastName : null %>
                  </td>
                  <td>
                    <%= dataUser[i].UserGameBiodata?
                    dataUser[i].UserGameBiodata.address : null %>
                  </td>
                  <td>
                    <%= dataUser[i].UserGameBiodata ?
                    dataUser[i].UserGameBiodata.phoneNumber : null %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="list-panel overflow-x-auto" id="list-standing">
            <h2 class="font-semibold text-slate-500 tracking-wide">
              List Standings
            </h2>
            <table class="w-full border-collapse mt-3">
              <thead>
                <tr>
                  <td>Username</td>
                  <td>Total Win</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Malcolm Lockyer</td>
                  <td>1961</td>
                </tr>
                <tr>
                  <td>The Eagles</td>
                  <td>1972</td>
                </tr>
                <tr>
                  <td>Shining Star</td>
                  <td>1975</td>
                </tr>
                <tr>
                  <td>Earth, Wind, and Fire</td>
                  <td>1975</td>
                </tr>
                <tr>
                  <td>Earth, Wind, and Fire</td>
                  <td>1975</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../assets/js/admin.js" type="text/javascript"></script>
  </body>
</html>
